appdirs==1.4.3
attrs==19.3.0
beautifulsoup4==4.8.2
certifi==2022.12.7
chardet==3.0.4
Click==7.0
configparser==4.0.2
idna==2.8
pathspec==0.7.0
protobuf==3.15.0
regex==2020.1.7
requests
six==1.13.0
soupsieve==1.9.5
toml==0.10.0
typed-ast==1.4.0
urllib3
